<div class="radar-card">

  <div class="radar-title">
    <mat-icon>radar</mat-icon>
    Similarity Radar
  </div>

  <div class="radar-subtitle">
    Visual explanation of similar historical cases
  </div>

  <div class="radar-wrapper">
    <svg width="400" height="400" class="radar-svg">

      <!-- Cercles de distance -->
      <circle cx="200" cy="200" r="50"  fill="none" stroke="#ddd"></circle>
      <circle cx="200" cy="200" r="100" fill="none" stroke="#ddd"></circle>
      <circle cx="200" cy="200" r="150" fill="none" stroke="#ddd"></circle>

      <!-- Points -->
      <circle *ngFor="let p of positionedPoints"
              [attr.cx]="p.x"
              [attr.cy]="p.y"
              [attr.r]="p.type === 'CURRENT' ? 10 : 6"
              [attr.fill]="getColor(p)"
              (mouseenter)="onMouseEnter(p)"
              (mouseleave)="onMouseLeave()">
      </circle>
      <ng-template *ngFor="let p of positionedPoints">
      <circle 
              *ngIf="p.type === 'CURRENT'"
              [attr.cx]="p.x"
              [attr.cy]="p.y"
              r="16"
              fill="green">
      </circle>
      </ng-template>

    </svg>

    <!-- Tooltip -->
    <div *ngIf="hoveredPoint" class="tooltip"
     (mouseenter)="onMouseEnter(hoveredPoint)"
     (mouseleave)="onMouseLeave()">
      <strong>Case:</strong> {{ hoveredPoint.case_id || 'N/A' }}<br>
      <strong>Score:</strong> {{ hoveredPoint.score }}<br>
      <strong>Type:</strong> {{ hoveredPoint.type }}
    </div>
  </div>

  <div class="radar-legend">
    <div class="legend-item">
      <span class="legend-dot legend-current"></span> Current
    </div>
    <div class="legend-item">
      <span class="legend-dot legend-normal"></span> Normal
    </div>
    <div class="legend-item">
      <span class="legend-dot legend-fraud"></span> Fraud
    </div>
  </div>

</div>